<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movie Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/nouislider.min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/plyr.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/css/user_rate.css">

    <link rel="stylesheet" type="text/css" href="/css/md.css" media="all" />
    <script src="https://kit.fontawesome.com/ad214375d6.js" crossorigin="anonymous"></script>

    <style>
        .details::before {
            background: none
        }
        
        html,
        body {
            margin: 0rem;
            padding: 0rem;
            background-color: rgb(16, 16, 41) !important;
            color: white;
        }
        
        .details:before {
            background: rgb(16, 16, 41) !important;
        }
        
        #container_nav {
            padding: 0.01px 0.01px;
            display: flex;
        }
        
        #nav {
            height: 100vh;
            z-index: 1000;
        }
        
        #navbar {
            margin: 0.5rem;
            padding: 1rem 0rem;
            height: 93vh;
            width: 20vw;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            position: fixed;
            border: 0.2rem solid rgb(10, 10, 37);
            border-radius: 1rem;
            background-color: rgb(5, 5, 23);
            box-shadow: 0 1rem 0.5rem 0 rgb(10, 10, 37), 0 1.5rem 1rem 0 rgb(10, 10, 37);
        }
        
        #navbar:hover {
            box-shadow: 0 0.1rem 1rem 0 rgb(12, 128, 243), 0 0.5rem 2rem 0 rgb(12, 128, 243);
        }
        
        #profile {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: stretch;
            align-items: stretch;
        }
        
        #profilePicture {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        #profilePicture img {
            width: 5rem;
            border-radius: 1000px;
            margin-bottom: 2rem;
        }
        
        .navButton {
            padding: 0.85rem 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: 'Roboto Slab', serif;
            border: 0.01rem solid rgb(10, 10, 37);
        }
        
        .navButton:hover {
            background-color: rgb(16, 16, 41);
        }
        
        .navLink {
            text-decoration: none;
            color: white;
        }
        
        #genre {
            width: 100%;
            height: 75%;
            overflow: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: stretch;
            align-items: stretch;
        }
        
        .navHead {
            margin: 1rem 0rem;
            padding: 0.5rem 0rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(12, 128, 243);
        }
        
        #main {
            width: 100%;
            display: flex;
            align-items: stretch;
            justify-content: stretch;
            flex-direction: column;
        }
        
        #title {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: stretch;
            margin-bottom: 6rem;
        }
        
        #logoCont {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        #logo {
            width: 12rem;
            border-radius: 30rem;
        }
        
        #type {
            margin: 2.5rem 1rem;
            margin-left: 0rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 7rem;
            width: 100%;
            color: rgb(243 183 12);
            font-size: 3rem;
            font-family: 'Vollkorn', serif;
        }
        
        @media(min-width: 1311px) {
            #title {
                flex-direction: row;
            }
        }
        
        @media(max-width: 900px) {
            #type {
                font-size: 2rem;
                height: 5rem;
                margin-left: 1rem;
            }
        }
        
        @media(max-height: 600px) {
            #profilePicture {
                display: none;
            }
            #profilePicture img {
                display: none;
            }
        }
        
        @media (min-width: 1200px) {
            .col-xl-6 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        
        .transformers-right i::before {
            -webkit-text-fill-color: rgb(243, 183, 12);
            margin-right: 5px;
        }
        
        button {
            background: rgb(12, 128, 243) !important;
        }
        
        button:hover {
            background-color: rgb(243, 183, 12) !important;
        }
        
        .transformers-left {
            color: rgb(243, 183, 12);
        }
        
        .form__slider-rating .noUi-handle.noUi-handle-lower {
            background-color: rgb(12, 128, 243);
        }
        
        .noUi-connect {
            background-image: linear-gradient( 90deg, rgb(12, 243, 243)0%, rgb(12, 128, 243) 100%);
        }
        
        textarea,
        input,
        textarea::-webkit-input-placeholder,
        input::-webkit-input-placeholder {
            color: #949393;
        }
    </style>

</head>

<body class="body" onload="typeText()">

    <div id="container_nav" style="height: 150px;">

        <img id="collapse" onclick="toggle()" style="width: 5rem; margin: 1rem 1rem; position: fixed; right: 0.5rem; top: 0.5rem;z-index: 1000; cursor: pointer; border-radius: 6px;" src="../assets/img/hamburger.png" alt="">

        <div id="nav">
            <div id="navbar">
                <a href="<%=path%>search" class="navLink">
                    <div class="navButton" onclick="navClick()">
                        SEARCH MOVIES
                    </div>
                </a>



                <div id="profile">

                    <a href="<%=path%>user/home" class="navLink">
                        <div class="navButton" onclick="navClick()">
                            HOME
                        </div>
                    </a>

                    <a href="<%=path%>user/favourite" class="navLink">
                        <div class="navButton" onclick="navClick()">
                            MY FAVOURITES
                        </div>
                    </a>

                    <a href="<%=path%>user/raterev" class="navLink" onclick="navClick()">
                        <div class="navButton">
                            MY RATING AND REVIEW
                        </div>
                    </a>

                    <a href="<%=path%>auth/logout" class="navLink" onclick="navClick()">
                        <div class="navButton">
                            LOG OUT
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <script>
            document.getElementById("navbar").style.display = "none";
        </script>

        <div id="main">
            <div id="title" style="flex-wrap: wrap;">
                <div id="logoCont" style="margin-top: 1rem; margin-left: 1.2rem;">
                    <img src="/assets/img/logo.png" alt="" id="logo">
                </div>
                <div id="type" style="margin: 0;"></div>
            </div>
        </div>

    </div><br><br><br>


    <div class="hero user-hero" style="height: 0%; ">
        <div class="col-md-12" style="margin-top: 70px; text-align: center; background-color: rgb(16, 16, 41) !important">
            <h1>Movie Details</h1>
        </div>
    </div><br><br>

    <section class="section details" style="background-color: rgb(16, 16, 41) !important;">

        <div class="container" style="background-color: rgb(16, 16, 41) !important;">
            <div class="transformers-box" style="background-color: #010913c4;">
                <div class="row">

                    <div class="col-12">
                        <h1 class="details__title"></h1>
                    </div>

                    <div class="col-12 col-xl-6">
                        <div class="card card--details" style="background-color: #010913c4;">
                            <div class="row" style="background-color: #010913c4; ">

                                <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
                                    <div class="card__cover">
                                        <img class="poster" src="" alt="">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
                                    <div class="card__content">

                                        <ul class="card__meta">
                                            <li>
                                                <div class="transformers-left">
                                                    Genre:
                                                </div>
                                                <div id="genre" class="transformers-right">

                                                </div>
                                            </li>

                                            <li>
                                                <div class="transformers-left">
                                                    Starring:
                                                </div>
                                                <div id="actors" class="transformers-right">

                                                </div>
                                            </li>
                                            <li>
                                                <div class="transformers-left">
                                                    Director:
                                                </div>
                                                <div id="director" class="transformers-right">

                                                </div>
                                            </li>
                                            <li>
                                                <div class="transformers-left">
                                                    Time:
                                                </div>
                                                <div id="time" class="transformers-right">

                                                </div>
                                            </li>
                                            <li>
                                                <div class="transformers-left">
                                                    Release:
                                                </div>
                                                <div id="release" class="transformers-right">

                                                </div>
                                            </li>
                                            <li>
                                                <div class="transformers-left">
                                                    Language:
                                                </div>
                                                <div id="language" class="transformers-right">

                                                </div>
                                            </li>
                                            <li>
                                                <div class="transformers-left">
                                                    Rating:
                                                </div>
                                                <div class="transformers-right">
                                                    <i class='fas fa-star'></i> <span class="card__rate"> </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="transformers-left">
                                                    Favourite:
                                                </div>
                                                <div id="favourite" class="transformers-right">

                                                </div>
                                            </li>

                                        </ul>

                                        <div class="card__description card__description--details overview">

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-xl-6" style="margin-top: 50px;">
                        <iframe id="trailer" width="560" height="515" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <div style="margin: 30px;">
        <h2 class="content__title" style="color: rgb(12, 128, 243);">Reviews</h2><br>
        <hr style="margin-bottom: 1px;">
        <hr>
    </div><br><br>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-8" style="margin: 0 auto;">

                <div class="tab-content" id="myTabContent">
                    <div class="row">

                        <div class="col-12">
                            <div class="reviews">
                                <ul class="reviews__list">


                                </ul>

                                <form id="rform" class="form" style="background-color: rgb(26, 27, 29);">

                                    <input required="true" type="text" name="title" class="form__input" placeholder="Title" style="color: #fff;">

                                    <textarea required="true" class="form__textarea" name="text" placeholder="Review"></textarea>

                                    <div class="form__slider">
                                        <div class="form__slider-rating" id="slider__rating"></div>
                                        <div class="form__slider-value" id="form__slider-value"></div>
                                    </div>

                                    <button onclick="submitform('rform')" type="button" class="form__btn"> POST </button>
                                    <div class="rmess"></div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    </section>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="/js/wNumb.js"></script>
    <script src="/js/nouislider.min.js"></script>
    <script src="/js/plyr.min.js"></script>
    <script src="/js/jquery.morelines.min.js"></script>
    <script src="/js/main.js"></script>

    <script>
        function submitform(id) {
            $('#rform').submit();
        }
        let urlParams = new URLSearchParams(window.location.search);
        let id = urlParams.get('id');
        const path = window.location.origin;
        $(document).ready(() => {
            $.ajax({
                type: 'POST',
                url: path + '/user/getmoviedetails',
                data: {
                    id
                },
                success: (result) => {
                    console.log(result);
                    $('.details__title').text(result['title']);
                    $('.poster').attr('src', 'https://image.tmdb.org/t/p/w500' + result.poster_path);
                    let len = result.genres.length;
                    for (let i = 0; i < len; i++) {
                        if (i < len - 1) {
                            $('#genre').append(result.genres[i].name + ', ');
                        } else {
                            $('#genre').append(result.genres[i].name);

                        }
                    }
                    $('#time').text(result.runtime + " minutes");
                    $('#release').text(result.release_date);
                    $('#language').text(String(result.original_language).toUpperCase());
                    $('.card__rate').text(result.vote_average + '/10');
                    $('.overview').text(result.overview);
                    let trurl = 'https://www.youtube.com/embed/';
                    trurl += result.videos.results[0].key;
                    $('#trailer').attr('src', trurl);
                    let cast = result.credits.cast;
                    let crew = result.credits.crew;
                    let actors = cast[0].name + ', ' + cast[1].name;
                    len = crew.length;
                    let director;
                    for (let i = 0; i < len; i++) {
                        if (crew[i].job == 'Director') {
                            director = crew[i].name;
                        }
                    }
                    $('#actors').text(actors);
                    $('#director').text(director);
                    let fav = result.fav;
                    $('#favourite').css('cursor', 'pointer');
                    if (fav) {
                        $('#favourite').html("<i class='fas fa-heart' style='color: red'></i>");
                        $('#favourite').addClass('fav');
                    } else {
                        $('#favourite').html("<i class='far fa-heart'></i>");
                        $('#favourite').addClass('notfav');
                    }
                    $(document).on('click', '.notfav', function(e) {
                        $.ajax({
                            type: 'POST',
                            url: path + '/user/markfav',
                            data: {
                                id,
                                name: result['title'],
                                rating: result['vote_average'],
                                poster: result['poster_path'],
                                overview: result['overview']
                            },
                            success: (result) => {
                                $(this).removeClass('notfav');
                                $(this).addClass('fav');
                                $(this).html("<i class='fas fa-heart' style='color: red'></i>");
                                console.log(result);
                            }
                        })
                    })
                    $(document).on('click', '.fav', function(e) {
                        console.log('removed from favourites');
                        $.ajax({
                            method: 'POST',
                            url: path + "/user/unmarkfav",
                            data: {
                                id,
                            },
                            success: (result) => {
                                $(this).removeClass('fav');
                                $(this).addClass('notfav');
                                $(this).html("<i class='far fa-heart'></i>");
                                console.log(result);
                            }
                        })
                    })
                    let reviews = result.reviews;
                    len = reviews.length;
                    let reviewhtml = ``;
                    for (let i = 0; i < len; i++) {
                        reviewhtml += `<li class="reviews__item">
                                            <div class="reviews__autor">
                                                <span class="reviews__name">${reviews[i].reviewtitle}</span>
                                                <span class="reviews__time">by ${reviews[i].name}</span>
                                                <span class="reviews__rating">
                                                    ${reviews[i].rating}/10</span>
                                            </div>
                                            <p class="reviews__text">${reviews[i].reviewtext}</p>
                                        </li>`
                    }
                    $('.reviews__list').html(reviewhtml);
                    console.log(reviewhtml);
                    $('#rform').submit(e => {
                        e.preventDefault();
                        let fdata = $('#rform').serialize();
                        fdata += '&rating=' + $('#form__slider-value').text();
                        console.log(fdata);
                        $.ajax({
                            type: 'POST',
                            url: path + '/user/submitreview',
                            data: {
                                data: fdata,
                                id,
                                name: result['title'],
                                poster: result['poster_path'],
                                overview: result['overview']
                            },
                            success: (result) => {
                                $('.rmess').html(`<div class="mess">${result.message}</div>`);
                            }
                        })
                    })
                }
            })
        })
    </script>


    <script>
        // Typing Effect
        var texts = [`Welcome To My Movies `,
            `Cherish Your Love For Cinema `,
            `Explore A Range Of Genres `,
            `Make Personal List of Favourites `,
            `Rate And Review Any Movie `
        ];
        var textSelector = 0;
        var typeDirection = 1;
        var speed = 50;
        var index = 0;

        function typeText() {
            if (typeDirection) {
                document.getElementById("type").innerHTML += texts[textSelector].charAt(index);
                index++;
                if (index == texts[textSelector].length) {
                    typeDirection = 0;
                    index--;
                    pause(1000);
                }
                setTimeout(typeText, speed);
            } else {
                let len = texts[textSelector].length;
                document.getElementById("type").innerHTML = texts[textSelector].slice(0, -1 - (len - 1 - index));
                index--;
                if (index == -1) {
                    typeDirection = 1;
                    index = 0;
                    if (textSelector != texts.length - 1) textSelector++;
                    else textSelector = 0;
                }
                setTimeout(typeText, speed);
            }
        }

        function pause(milliseconds) {
            var dt = new Date();
            while ((new Date()) - dt <= milliseconds) { /* Do nothing */ }
        }
    </script>

    <script>
        var smallWidth, defaultCollapse = 1;
        if (screen.width < 900) {
            smallWidth = 1;
        } else {
            smallWidth = 0;
        }

        function toggle() {
            if (smallWidth) {
                if (defaultCollapse) {
                    document.getElementById("navbar").style.display = "flex";
                    document.getElementById("navbar").style.position = "fixed";
                    document.getElementById("navbar").style.width = "60vw";
                    defaultCollapse = 0;
                } else {
                    document.getElementById("navbar").style.display = "none";
                    defaultCollapse = 1;
                }
            } else {
                if (defaultCollapse) {
                    document.getElementById("navbar").style.display = "flex";
                    defaultCollapse = 0;
                } else {
                    document.getElementById("navbar").style.display = "none";
                    defaultCollapse = 1;
                }
            }
        }

        function navClick() {
            if (screen.width < 900)
                toggle();
        }
    </script>
</body>

</html>