<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a1fdd42e8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>SignIn</title>

</head>

<body class="darkMode">

    <div class="w3-container w3-center w3-animate-zoom">

        <section>
            <div class="container" id="cont">

                <a href="<%=path%>"><input type="submit" value="HOME" style="margin: 0; position: absolute; left: 4%; top: 4%;"></a>

                <h1>REGISTRATION</h1>

                <div class="box">
                    <div class="cont">
                        <form method="POST" class="sign-in">
                            <h1>LOGIN</h1>
                            <input type="email" placeholder="Email" name="email" required="true">
                            <input type="password" placeholder="Password" name="password" required="true">
                            <input type="submit" value="LOGIN">
                            <a href="<%=path%>auth/google"><img src="/assets/img/google.png" alt=""></a>
                            <%if(error.length){%>
                                <div class="mess">
                                    <div class="w3-container">

                                        <div class="w3-panel w3-red w3-display-container">
                                            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
                                            <h3>Alert</h3>
                                            <p>
                                                <%=error[0]%>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <%}%>
                                    <%if(message.length){%>
                                        <div class="mess">
                                            <div class="w3-container">

                                                <div class="w3-panel w3-green w3-display-container">
                                                    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
                                                    <h3>Warning!</h3>
                                                    <p>
                                                        <%=message[0]%>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                        <%}%>
                                            <p>Don't Have An Account? <a href="<%=path%>auth/signup" style="color: rgb(243, 183, 12);">Click Here</a></p><br>
                        </form>
                    </div>

                </div>
            </div>
        </section>

    </div>
    <!-- jQuery Latest Version 1.x -->
    <script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>

    <!-- jQuery UI -->
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>


</body>

</html>