<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <title>Search Movies</title>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />

    <link rel="stylesheet" href="/css/plugins.css">
    <link rel="stylesheet" href="/css/user_rate.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/jquery.flipster.min.css">

    <style>
        input[type="submit"] {
            background-color: rgb(12, 128, 243) !important;
        }
        
        input[type="submit"]:hover {
            background-color: rgb(243, 183, 12) !important;
        }
        
        .navButton:hover {
            color: white;
        }
        
        .col-md-9 {
            position: relative;
            width: 75%;
            left: 12.5%;
        }
        
        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:hover,
        .nav-tabs>li.active>a:focus {
            border: none !important;
            background-color: transparent !important;
            color: #dcf836 !important;
        }
        
        .nav-tabs>li>a:hover,
        .nav-tabs>li>a:focus {
            border: none !important;
            background-color: transparent !important;
            color: #dcf836 !important;
        }
    </style>
</head>

<body onload="typeText()">

    <div id="container" style="height: 150px;">

        <img id="collapse" onclick="toggle()" style="width: 5rem; margin: 1rem 1rem; position: fixed; right: 0.5rem; top: 0.5rem;z-index: 1000; cursor: pointer; border-radius: 6px;" src="../assets/img/hamburger.png" alt="">

        <div id="nav">
            <div id="navbar">
                <%if(typeof user == 'undefined'){%>

                <a href="<%=path%>" class="navLink">
                    <div class="navButton" onclick="navClick()">
                        HOME
                    </div>
                </a>

                <a href="<%=path%>search" class="navLink">
                    <div class="navButton" onclick="navClick()">
                        SEARCH MOVIES
                    </div>
                </a>

                <a href="<%=path%>auth/login" class="navLink" onclick="navClick()">
                    <div class="navButton">
                        LOG IN
                    </div>
                </a>

                    <a href="<%=path%>search" class="navLink">
                        <div class="navButton" onclick="navClick()" style="background-color: rgb(12, 128, 243);">
                            SEARCH MOVIES
                        </div>
                    </a>

                    <a href="<%=path%>auth/login" class="navLink" onclick="navClick()">
                        <div class="navButton">
                            LOG IN
                        </div>
                    </a>

                    <a href="<%=path%>auth/signup" class="navLink" onclick="navClick()">
                        <div class="navButton">
                            SIGN UP
                        </div>
                    </a>
                    <div id="genre"></div>
                    <%}else{%>
                        <a href="<%=path%>search" class="navLink">
                            <div class="navButton" onclick="navClick()" style="background-color: rgb(12, 128, 243);">
                                SEARCH MOVIES
                            </div>
                        </a>

                        <div class="navHead" style="margin-top: 0.5rem;">
                            PROFILE
                        </div>

                        <div id="profile">
                            

                            <a href="<%=path%>user/home" class="navLink">
                                <div class="navButton" onclick="navClick()">
                                    HOME
                                </div>
                            </a>

                            <a href="<%=path%>user/favourite" class="navLink">
                                <div class="navButton" onclick="navClick()">
                                    MY FAVOURITES
                                </div>
                            </a>

                            <a href="<%=path%>user/raterev" class="navLink" onclick="navClick()">
                                <div class="navButton">
                                    MY RATING AND REVIEW
                                </div>
                            </a>

                            <a href="<%=path%>auth/logout" class="navLink" onclick="navClick()">
                                <div class="navButton">
                                    LOG OUT
                                </div>
                            </a>
                        </div>
                        <%}%>
            </div>
        </div>

        <script>
            document.getElementById("navbar").style.display = "none";
        </script>

        <div id="main">
            <div id="title" style="flex-wrap: wrap;">
                <div id="logoCont" style="margin-top: 1rem; margin-left: 1.2rem;">
                    <img src="/assets/img/logo.png" alt="" id="logo">
                </div>
                <div id="type" style="margin: 0;"></div>
            </div>
        </div>

    </div><br><br><br>


    <div class="hero user-hero" style="height: 0%; ">
        <div class="col-md-12" style="margin-top: 70px; background-color: rgb(16, 16, 41) !important">
            <h1>Search Movies</h1>
        </div>
    </div><br><br>

    <div class="col-md-4 col-sm-12 col-xs-12" style="width: 60%; margin-top: 90px; position: relative; left: 20%;">
        <div class="sidebar">
            <div class="searh-form">
                <!-- <h4 class="sb-title">Search for movie</h4> -->
                <form class="form-style-1" id="sform">
                    <div class="row">
                        <div class="col-md-12 form-it">
                            <label>Search Movie</label>
                            <div class="row">
                                <div class="col-md-6" style="margin-bottom: 20px;">
                                    <input id="query" type="text" placeholder="Enter Keywords">
                                </div>
                                <div class="col-md-6">
                                    <select name="criteria" id="criteria" style="background-image: url(../assets/img/drop-icon.png)">
                                        <option value="movie"> Search By Name</option>
                                        <option value="person"> Search By Person</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 " style="width: 54%; position: relative; left: 23%; ">
                            <input class="submit" type="submit" value="search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="page-single" style="background-color: rgb(16, 16, 41) !important">
        <div class="container">
            <div class="row ipad-width2">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="flex-wrap-movielist user-fav-list list">

                    </div>


                </div>
            </div>
        </div>
    </div>

    <script>
        let path = window.location.origin;
        $(document).ready(() => {
            $("#sform").submit(e => {
                e.preventDefault();
                let query = $('#query').val();
                let c = $('#criteria').val();
                console.log(c, query);
                $.ajax({
                    type: 'POST',
                    url: path + '/searchmovie',
                    data: {
                        query,
                        criteria: c
                    },
                    success: (result) => {
                        console.log(result);
                        let str = ``;
                        result.forEach(item => {
                            let img = 'https://image.tmdb.org/t/p/w500' + item.poster_path;
                            if (item.poster_path == null) {
                                img = 'https://www.indiaspora.org/wp-content/uploads/2018/10/image-not-available.jpg';
                            }
                            str += `
                            <div class="movie-item-style-2">
                            <img style="width: 200px;" src='${img}' alt="">
                            <div class="mv-item-infor">
                                <h6><a href="${path}/moviedetails?id=${item.id}">${item.title}</a></h6>
                                <p class="rate"><i class="ion-android-star"></i><span>${item.vote_average}</span> /10</p>
                                <p class="describe">${item.overview}
                                </p>
                            </div>
                        </div>
                            `;
                        })
                        console.log(result);
                        $('.list').html(str);
                    }
                })
            })
        })
    </script>
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/plugins2.js"></script>
    <script src="/js/custom.js"></script>
</body>

<script>
    // Typing Effect
    var texts = [`Welcome To My Movies `,
        `Cherish Your Love For Cinema `,
        `Explore A Range Of Genres `,
        `Make Personal List of Favourites `,
        `Rate And Review Any Movie `
    ];
    var textSelector = 0;
    var typeDirection = 1;
    var speed = 50;
    var index = 0;

    function typeText() {
        if (typeDirection) {
            document.getElementById("type").innerHTML += texts[textSelector].charAt(index);
            index++;
            if (index == texts[textSelector].length) {
                typeDirection = 0;
                index--;
                pause(1000);
            }
            setTimeout(typeText, speed);
        } else {
            let len = texts[textSelector].length;
            document.getElementById("type").innerHTML = texts[textSelector].slice(0, -1 - (len - 1 - index));
            index--;
            if (index == -1) {
                typeDirection = 1;
                index = 0;
                if (textSelector != texts.length - 1) textSelector++;
                else textSelector = 0;
            }
            setTimeout(typeText, speed);
        }
    }

    function pause(milliseconds) {
        var dt = new Date();
        while ((new Date()) - dt <= milliseconds) { /* Do nothing */ }
    }
</script>

<script>
    // Toggle Navbar
    var smallWidth, defaultCollapse = 1;
    if (screen.width < 900) {
        smallWidth = 1;
    } else {
        smallWidth = 0;
    }

    function toggle() {
        if (smallWidth) {
            if (defaultCollapse) {
                document.getElementById("navbar").style.display = "flex";
                document.getElementById("navbar").style.position = "fixed";
                document.getElementById("navbar").style.width = "60vw";
                defaultCollapse = 0;
            } else {
                document.getElementById("navbar").style.display = "none";
                defaultCollapse = 1;
            }
        } else {
            if (defaultCollapse) {
                document.getElementById("navbar").style.display = "flex";
                defaultCollapse = 0;
            } else {
                document.getElementById("navbar").style.display = "none";
                defaultCollapse = 1;
            }
        }
    }

    function navClick() {
        if (screen.width < 900)
            toggle();
    }
</script>

</html>